.lobby {
  --cols: 1; // ui/lobby/src/main.ts
  grid-area: main;
  display: grid;
  grid-template-areas: 'app' 'buttons' 'side' 'support' 'blog' 'feed' 'puzzle' 'tv' 'tours' 'timeline' 'about';
  grid-gap: $block-gap;
  grid-auto-rows: auto;
  &__tournaments,
  &__simuls {
    min-height: 13em;
    max-height: 26em;
  }
  //sets min height when we disable Show player ratings and there is only Tournament winners box to display
  &__wide-winners {
    min-height: 20em;
  }

  @include mq-at-least-col2 {
    --cols: 2; // ui/lobby/src/main.ts
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto repeat(2, fit-content(0)) auto repeat(2, fit-content(0)) auto;
    grid-template-areas:
      'app      app'
      'side     buttons'
      'blog     blog'
      'feed     feed'
      'tv       puzzle'
      'tours    tours'
      'timeline timeline'
      'about    about';
  }

  @include mq-at-least-col3 {
    --cols: 3; // ui/lobby/src/main.ts
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, fit-content(0));
    grid-template-areas:
      'app     app buttons'
      'app     app side'
      'blog    blog side'
      'tv feed    feed'
      'tours   tours puzzle'
      'about  about   about';

    &__counters {
      display: flex;
    }
    &__start {
      display: flex;
    }
    &__support {
      gap: 0.5em;
      i::before {
        font-size: 2.2em;
      }
      a {
        padding: 0.5em;
      }
    }

    &__timeline {
      margin-inline-start: 0;
    }
  }
  @media (min-width: at-least($large)) {
    // between 3 and 4 columns
    &__support__text > span {
      display: block;
    }
  }

  @include mq-at-least-col4 {
    --cols: 4; // ui/lobby/src/main.ts
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
      'side   app     app     buttons'
      'blog   blog    feed    feed'
      'tv     tours   tours   puzzle'
      'about  about   about   about';

    &__start {
      margin: auto 0;
    }

    &__side {
      margin-top: 2em;
    }

    &__support {
      display: flex;
      flex-flow: column;
      gap: 1em;
      i::before {
        font-size: 2.6em;
      }
    }
  }

  &__side {
    grid-area: side;
  }

  &__app,
  &__nope {
    grid-area: app;
  }

  &__buttons {
    grid-area: buttons;
  }

  &__tv {
    grid-area: tv;
  }

  &__puzzle {
    grid-area: puzzle;
  }

  &__tournaments-simuls {
    grid-area: tours;
  }
  &__simuls {
    margin-top: $block-gap;
  }

  &__blog {
    grid-area: blog;
  }

  &__support {
    grid-area: support;
  }

  &__feed {
    grid-area: feed;
  }

  &__about {
    grid-area: about;
  }

  &__timeline {
    grid-area: timeline;
  }
}
