.lobby {
  --cols: 1; // ui/lobby/src/main.ts
  grid-area: main;
  display: grid;
  grid-template-areas: 'app' 'buttons' 'side' 'blog' 'support' 'feed' 'tv' 'puzzle' 'tours' 'leader' 'winner' 'timeline' 'about';
  grid-gap: $block-gap;
  grid-auto-rows: fit-content(0);
  &__tournaments,
  &__simuls,
  &__leaderboard,
  &__winners {
    max-height: 26em;
  }
  // this helps in empty dev mode
  &__leaderboard,
  &__winners {
    display: none;
    min-height: 20em;
  }

  @include breakpoint($mq-col2) {
    --cols: 2; // ui/lobby/src/main.ts
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      'app      app'
      'side     buttons'
      'blog     blog'
      'tv       puzzle'
      'support  support'
      'feed     feed'
      'tours    tours'
      'timeline timeline'
      'leader   winner'
      'about    about';
  }

  @include breakpoint($mq-col3) {
    --cols: 3; // ui/lobby/src/main.ts
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      'buttons  app     app'
      'side   app     app'
      '-       app     app'
      'tv     blog    blog'
      'puzzle feed    feed'
      'leader tours   tours'
      'winner tours   tours'
      'winner about   about';

    &__counters {
      display: flex;
    }

    &__side,
    &__timeline {
      align-self: start;
      margin-#{$start-direction}: 0;
    }
  }

  @include breakpoint($mq-col4) {
    --cols: 4; // ui/lobby/src/main.ts
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
      'side   app     app     buttons'
      'blog   blog    feed    feed'
      'tv     tours   tours   puzzle'
      'about  about   about   about';

    &__start {
      margin: auto 0;
      gap: 1em;
      button {
        padding: 1em;
      }
    }

    &__side {
      margin-top: 2em;
    }

    &__counters {
      margin-top: 2.5em;
      padding: 0;
      display: block;
      a {
        display: block;
        //margin: 2em 0 0;
        //position: absolute;
      }
    }

    &__support {
      display: flex;
      flex-flow: column;
      //margin-top: auto;
      gap: 1em;
      i::before {
        font-size: 2.6em;
      }
      a {
        padding: 0.5em;
      }
      &__text > span {
        display: block;
      }
    }
  }

  &__side {
    max-height: 100%;
    grid-area: side;
  }

  &__app,
  &__nope {
    grid-area: app;
  }

  &__buttons {
    grid-area: buttons;
  }

  &__tv {
    grid-area: tv;
  }

  &__leaderboard {
    grid-area: leader;
  }

  &__winners {
    grid-area: winner;
  }

  &__wide-winners {
    grid-area: leader / leader / leader / winner;
  }

  &__puzzle {
    grid-area: puzzle;
  }

  &__tournaments-simuls {
    grid-area: tours;
  }
  &__simuls {
    margin-top: $block-gap;
  }

  &__blog {
    grid-area: blog;
  }

  &__support {
    grid-area: support;
  }

  &__feed {
    grid-area: feed;
  }

  &__about {
    grid-area: about;
  }

  &__timeline {
    grid-area: timeline;
  }
}
