@import 'defs';
@import 'app/app';
@import 'buttons';
@import 'stream';
@import 'spotlight';
@import 'timeline';
@import 'box';
@import 'support';
@import 'about';
@import 'feed';
@import 'table';
@import 'layout';

body {
  /* improves preload */
  overflow-y: scroll;
}

#main-wrap {
  --main-max-width: 1400px;
}

%lobby__side__more {
  @extend %roboto;

  font-size: 0.9em;
  margin: 0.5em 1em 0.5em 0;
  display: block;
  text-align: right;
  color: $c-font-dim;

  &:hover {
    color: $c-link;
  }
}

.lobby__side {
  @extend %flex-column;

  overflow: hidden;
}

.lobby__nope {
  @include lobby-app-size;

  text-align: center;

  .lobby__app__content {
    @extend %flex-column;

    height: 100%;
    align-items: center;
    padding-top: 2em;

    &.lobby__app__content {
      justify-content: center;
    }
  }

  ul {
    margin: 0.6em auto;
    display: inline-block;
    text-align: left;
  }

  li {
    list-style: disc outside;
    font-size: 1.1em;
  }
}

.about-side {
  @extend %page-text-shadow !optional;

  margin-top: $block-gap;
}

.lobby__tv .mini-game {
  overflow: visible;
}

.lobby__puzzle .text {
  @extend %page-text-shadow !optional;

  color: $c-font-dim;
  display: block;
  text-align: right;
  margin-inline-end: 1ch;
}

.now-playing {
  .meta {
    @extend %flex-column;

    align-items: center;
  }
}

.lobby__tournaments,
.lobby__simuls,
.ublog-post-card,
.lobby__feed,
.lobby__app__content {
  border: 1px solid c-dimmer($c-brag, 80%);
}

.lobby__blog {
  column-gap: $block-gap;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr)); // 180px in sync with file://./../src/main.ts

  row-gap: 0;
  grid-template-rows: auto;
  grid-auto-rows: 0;
  font-size: 0.9em;
  h2 {
    @extend %page-text-shadow !optional;
    font-size: 1.2em;
  }
  .ublog-post-card:hover {
    box-shadow: none;
  }
}

.tour-team-icon {
  color: $c-brag;
}
