$c-support: $c-brag;

.lobby__support {
  margin-top: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.75em;
  max-height: fit-content;

  a {
    @extend %flex-center-nowrap, %box-neat;
    background: $c-bg-box;
    font-size: 1.3em;
    padding: 0.5em;

    @include transition(background);

    &:hover {
      background: $c-support;
    }

    &:hover .lobby__support__text,
    &:hover i::before,
    &:hover .lobby__support__text span {
      color: #fff;
    }
  }

  i {
    flex: 0 0 auto;
    margin: 0 0.3em;

    &::before {
      margin-inline-end: 0.15em;
      color: $c-font;
      font-size: 1.6em;

      @include transition(color);
    }
  }

  &__text {
    flex: 1 1 auto;
    color: $c-font;
    @include transition(color);

    strong {
      font-weight: normal;
      display: block;
    }

    span {
      @extend %nowrap-ellipsis;
      color: $c-font-dim;
      display: none;
      font-size: 0.8em;
    }
  }
}
